.navbar-inverse { background-color: #006cb7}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #005e9f}
.dropdown-menu { background-color: #ffffff}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428bca}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #005e9f}
.navbar-inverse .navbar-brand { color: #999999}
.navbar-inverse .navbar-brand:hover { color: #ffffff}
.navbar-inverse .navbar-nav>li>a { color: #f4f4f4}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #ffffff}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
ul.multiselect-container.dropdown-menu{
	width:14em;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #DEDEDE}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color:#DEDEDE}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #ffffff}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{ background-color:#005e9f; color:#FFF;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background-color:transparent;}
.navbar-inverse .navbar-toggle{ border-color:transparent;}

.hclFooter{ background:url(../images/hcl.png) no-repeat center center #337aba; height:40px; margin-top:20px;}
.global_maincontent{ margin-top:60px;}
.page-header{ margin:0px 0 20px; padding-bottom:0;}

/*==2. Multiselect v3.0==*/
.multiselect{ height:26px; line-height:26px; padding:0 8px; font-size:12px;}
/* .multiselect-container > li > a{ white-space: normal;} */
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}
.multiselect-container .input-group{margin:5px}
.multiselect-container>li{font-size:12px;/* padding:0 */}
.multiselect-container>li>a.multiselect-all label{font-weight:700}
.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px;height:100%;font-weight:700}
.multiselect-container>li>a{padding:0}
.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 30px}
.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0;line-height:1.8;}
.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}
.multiselect-container > li > a >label{       
    word-wrap: break-word !important;
    white-space: normal !important;
}

.multiselect-container>li {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -15px;
	margin-right: 0;
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 0px 5px 0px 15px;
}

.has-success .multiselect-container.dropdown-menu .radio,.has-error .multiselect-container.dropdown-menu .radio{
	color:#555753 !important;
}
.has-success .multiselect-container.dropdown-menu .active .radio,.has-success .multiselect-container.dropdown-menu li:hover .radio,
.has-error .multiselect-container.dropdown-menu .active .radio,.has-error .multiselect-container.dropdown-menu li:hover .radio{
	color:#000 !important;
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block,
.has-success.checkbox label, .has-success.checkbox-inline label {
	color:#000 !important;
}




/*==3. DataTables.bootstrap v3.0==*/
div.dataTables_length label {font-weight:normal; float:left; text-align:left;}
div.dataTables_length select {width:75px;}
div.dataTables_filter label {font-weight:normal; float:right;}
div.dataTables_filter input {width:16em;}
div.dataTables_info {padding-top:8px;}
div.dataTables_paginate {float:right; margin:5px 0 0;}
div.dataTables_paginate ul.pagination {margin:2px 0; white-space:nowrap;}
table.dataTable td, table.dataTable th {-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
table.dataTable {clear:both; margin-top:0px !important; margin-bottom:0px !important; max-width:none !important;}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {cursor:pointer;}
table.dataTable thead .sorting {background:url('../images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc {background:url('../images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc {background:url('../images/sort_desc.png') no-repeat center right; }
table.dataTable thead .sorting_asc_disabled {background:url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled {background:url('../images/sort_desc_disabled.png') no-repeat center right; }
table.dataTable thead > tr > th {padding-left:4px; padding-right:18px;}
table.dataTable th:active {outline:none;}
div.dataTables_scrollHead table {margin-bottom:0 !important; border-bottom-left-radius:0; border-bottom-right-radius:0;}
div.dataTables_scrollHead table thead tr:last-child th:first-child, div.dataTables_scrollHead table thead tr:last-child td:first-child {border-bottom-left-radius:0 !important; border-bottom-right-radius:0 !important;}
div.dataTables_scrollBody table {border-top:none; margin-top:0 !important; margin-bottom:0 !important;}
div.dataTables_scrollBody tbody tr:first-child th, div.dataTables_scrollBody tbody tr:first-child td {border-top:none;}
div.dataTables_scrollFoot table {margin-top:0 !important; border-top:none;}
table.table-bordered.dataTable {border-collapse:separate !important;}
table.table-bordered thead th, table.table-bordered thead td {border-left-width:0; border-top-width:0;}
table.table-bordered tbody th, table.table-bordered tbody td {border-left-width:0; border-bottom-width:0;}
table.table-bordered th:last-child, table.table-bordered td:last-child {border-right-width:0;}
div.dataTables_scrollHead table.table-bordered {border-bottom-width:0;}
/* TableTools styles*/
.table tbody tr.active td, .table tbody tr.active th {background-color:#08C; color:white;}
.table tbody tr.active:hover td, .table tbody tr.active:hover th {background-color:#0075b0 !important;}
.table tbody tr.active a {color:white;}
.table-striped tbody tr.active:nth-child(odd) td, .table-striped tbody tr.active:nth-child(odd) th {background-color:#017ebc;}
table.DTTT_selectable tbody tr {cursor:pointer;}
div.DTTT .btn {color:#333 !important; font-size:12px;}
div.DTTT .btn:hover {text-decoration:none !important;}
ul.DTTT_dropdown.dropdown-menu {z-index:2003;}
ul.DTTT_dropdown.dropdown-menu a {color:#333 !important;}
ul.DTTT_dropdown.dropdown-menu li {position:relative;}
ul.DTTT_dropdown.dropdown-menu li:hover a {background-color:#0088cc; color:white !important;}
div.DTTT_collection_background {z-index:2002;}
/* TableTools information display */
div.DTTT_print_info.modal {height:150px; margin-top:-75px; text-align:center;}
div.DTTT_print_info h6 {font-weight:normal; font-size:28px; line-height:28px; margin:1em;}
div.DTTT_print_info p {font-size:14px; line-height:20px;}
div.dataTables_processing {  position:absolute; top:50%; left:50%; width:100%; height:40px; margin-left:-50%; margin-top:-25px; padding-top:20px; text-align:center; font-size:1.2em; background-color:white; background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0))); background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%); background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%); background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%); background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%); background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);}
.global-rTotal{ background-color:#b8d5f4; font-weight:bold;}
.global-rTotal td, .global-rTotal th{ background-color:#b8d5f4 !important; font-weight:bold !important;}
/* FixedColumns styles*/
div.DTFC_LeftHeadWrapper table, div.DTFC_LeftFootWrapper table, div.DTFC_RightHeadWrapper table, div.DTFC_RightFootWrapper table, table.DTFC_Cloned tr.even {  background-color:white; margin-bottom:0;}
div.DTFC_RightHeadWrapper table , div.DTFC_LeftHeadWrapper table {  margin-bottom:0 !important; border-top-right-radius:0 !important; border-bottom-left-radius:0 !important; border-bottom-right-radius:0 !important;}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child, div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child, div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child, div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {  border-bottom-left-radius:0 !important; border-bottom-right-radius:0 !important;}
div.DTFC_RightBodyWrapper table, div.DTFC_LeftBodyWrapper table {  border-top:none; margin:0 !important;}
div.DTFC_RightBodyWrapper tbody tr:first-child th, div.DTFC_RightBodyWrapper tbody tr:first-child td, div.DTFC_LeftBodyWrapper tbody tr:first-child th, div.DTFC_LeftBodyWrapper tbody tr:first-child td {  border-top:none;}
div.DTFC_RightFootWrapper table, div.DTFC_LeftFootWrapper table {  border-top:none;}
/*FixedHeader styles */
div.FixedHeader_Cloned table {margin:0 !important}
.tdcaption{ font-weight:bold; padding-top:4px; padding-bottom:4px;}
.row-gp{ padding-bottom:15px;}
.col-push-1-5{ width:12.500000000% !important;}
.col-push-1-5{ width:12.500000000% !important;}
.col-push-2-5{ width:20.833333333% !important;}
.col-push-3-5{ width:20.833333333% !important;}
.col-push-3-5{ width:29.166666666% !important;}
.col-push-4-5{ width:37.500000000% !important;}
.col-push-5-5{ width:45.833333333% !important;}
.col-push-6-5{ width:54.166666666% !important;}
.col-push-7-5{ width:62.500000000% !important;}
.col-push-8-5{ width:70.833333333% !important;}
.col-push-9-5{ width:79.166666666% !important;}
.col-push-10-5{ width:87.500000000% !important;}
.font-size12{ font-size:13px;}
@media (max-width: 800px) {	
.dataTables_info{ display:none;} 
.dataTables_length{ display:none;} 
.dataTables_wrapper .col-xs-6{ width:100%; text-align:left;}
div.dataTables_filter label{ float:left; padding-left:10px; padding-top:5px;}
.dataTables_filter .form-control{ width:auto; display:inline;}
div.dataTables_paginate{ float:left;}
.col-push-1-5, .col-push-2-5, .col-push-3-5, .col-push-4-5, .col-push-5-5, .col-push-6-5, .col-push-7-5, .col-push-8-5, .col-push-9-5, .col-push-10-5{ width:100% !important; padding-top:4px; padding-bottom:4px;}
.row-gp{ padding-bottom:0;}
}


table.dataTable:not(.not-autowidth){
	max-width:1140px !important;
	min-width:932px !important;
}

 table.table-bordered tbody td {
 	/* white-space: nowrap; */  /* SHK-561 */
   	max-width: 100px; 
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-break: break-word;/* SHK-561 */
 	vertical-align:middle;
 }
 
 td.dataTables_empty{
    text-align: center !important;
} 
.dataTables_empty{
	text-align: center;
}
  
 
.has-error .control-label,.has-error .help-block,.has-error .form-control-feedback {
    color: #cc0000;
}

.has-success .control-label,.has-success .help-block,.has-success .form-control-feedback {
    color: #4e9a06;
}

body.modal-open {
    overflow: hidden;
}

.toggle-col{
	margin-bottom:10px
}


.dt-buttons{
	 margin-left: 60px;
}

.modal {
  text-align: center;
  padding: 0!important;
  -webkit-user-select: none;
}


.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.asterisk {
	color:red;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-right: inherit;
}
td>ul{
	padding-left:15px;
}
.setColWidth{
	width:auto !important;
}
.btn-collapse{
	/* margin-top: -2px; */
}

.green{
	color:green;
}
.red{
	color:red;
}
