ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass,a.myErrorClass {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
 }
 ul.myErrorClass input {
    color: #666 !important;
}
 label.myErrorClass {
    color: red;
    font-size: 11px;
    /*    font-style: italic;*/
    display: block;
 }
.red ,.alertMessage{
  color: red;
}
.astricForMandatory{
	 color: red;
	 font-size:small;
}