@CHARSET "UTF-8";
@font-face {
    font-family: fely;
    src: url(fonts/Fely.otf);
    src: url(fonts/Fely.otf);
}
html{
	background-color:white;
}
body{
	padding-bottom: 60px !important;
}
.cursor-hand{
	cursor:hand;
}


table.dataTable thead > tr > th {
    padding-left: 8px;
    padding-right: 18px;
    font-size:15px !important;
    color:black !important;
}
.main-container .container{
	padding-left: 25px;
    padding-right: 10px;
    padding-bottom:50px;
}

.container .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
    border-color: #dddddd;
    border-width: thin;
    border-style: solid;
    padding-bottom: 20px;
}
.btn-download-link{
	padding-left:0px;
}
.modal-content form{
	padding-right:10px;
	padding-left:10px;
}
.btn-group .btn-primary,.form-group .btn-danger,.btn-group .btn-danger{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.btn-group .btn-primary:nth-child(2){
	margin-left:10px !important;
}
.page-header {
    margin: 60px 0px 5px !important;
    padding-bottom: 2px !important;
}
.table {
	border-collapse: separate !important;
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 1px solid #ddd !important;
}
.page-header h1{
	margin:0px;
}

.page-header .btn-primary{
	margin-top:3px;
}
.modal-content form #reset{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	float:right;
}
.modal-content form .btn-group,.modal-content .btn-group{ 
	width:100%;
	margin-top:5px !important;
}
.page-header .breadcrumb{
	margin-bottom:10px !important;
}
.page-header form{
	margin-bottom: 0px;
}
.page-header .form-group{
	margin-bottom: 0px;
	padding-bottom: 15px;
    padding-left: 0;
}


.dataTables_filter input{
	width:300px !important;
	margin-left:4px;
}

.col-left-padding{
	padding-left:0px !important;
}
.col-right-padding{
	padding-right:0px !important;
}

table tr td .btn-group button,table tr td .btn-group a{
	padding:0px !important ;
}
table tr td .btn-group button:nth-child(2),table tr td .btn-group button:nth-child(3),table tr td .btn-group a{
	margin-left:15px !important;
}
table tr td	, table tr th{
	font-size:14px;
	padding:4px !important;
}
.modal table tr td	,.modal table tr th{
	font-size:12px !important;
	padding:4px !important;
}
.dataTables_info{
	text-align:left;
}
.footer{
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #F5F8FA;
    border-top: 1px;
    z-index: 999;
    padding-right: inherit;
    border-top: 1px solid #ddd;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
padding-top: 10px;
}

table tr td .btn-group button.disabled{
	pointer-events:none;
}

.main-image{
    margin-top:50px; 
    height:500px;    
    background:url(../images/rounded-corner-main.png) no-repeat; 
    color:#337aba;
    background-size: 100%;
}

.main-image h2{
    margin-top: 125px;
    width: 500px;
    display: inline-block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
//
.dropdown-menu:hover> Ul li{
    display: block;
}
.dropdown-menu{
	 min-width: 100% !important;
}
.modal button.multiselect.dropdown-toggle.btn.btn-default{
	width:inherit !important;
}
button.multiselect.dropdown-toggle.btn.btn-default{
	width: 200px;	 
    text-align: left;
    height: 34px;
    font-size:14px;
}
button.multiselect.dropdown-toggle.btn.btn-default .caret{
	float:right;
	margin-top:10px;
}



.action[disabled=true] {
    pointer-events: none; 
    cursor: not-allowed;
}


a.notactive {
 pointer-events: none;
 cursor: not-allowed;
 color: darkgrey;
}
.capitalize {
    text-transform: capitalize;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default{
	width:25px !important;
	height:20px !important;
	top:-2px;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default .caret{
	margin-top:2px !important;
}
table thead button.multiselect.dropdown-toggle.btn.btn-default.filter-enabled{
	padding-left:4px;
	top:-2px;
}

/* toggle column header style */
  .toggle-col{ text-transform: uppercase;   margin-right: 2px;}
  
  /*  Scroll bar for save and add new function  */
 .scrollbar{
  overflow-y:auto;
   overflow-x:hidden;
  max-height:550px;
 }



/*browser native configs.....*/

input[type=checkbox]
{
  -webkit-appearance:checkbox;
  -moz-appearance:checkbox;
  appearance:checkbox;
}
input[type=radio]
{
  -webkit-appearance:radio;
  -moz-appearance:radio;
  appearance:radio;
}
td .div-tooltip{
	display: inline-flex; 
	padding-left: 0px; 
	position: absolute;
	margin-top:-8px
}




/* for online or offline */
.fa-ul>li {    
    color: white;
}
.fa-ul {    
	margin-left: 15px;
}


.spinner {
    position: fixed;   
    z-index:1234;
    overflow: auto;   
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    background: rgba(4, 4, 4, 0.31);
}
.spinner img {
    position: absolute;
    top: 45%;
}
table{
	border:none !important;
}