/* navbar */
.navbar-default {   
    /* background-color: #337aba;    
    border-color: #2e6da4; */
    height:10px;
}
.navbar-inverse {
    height:10px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   /*  color: #fff;
    background-color: #4e93ce; */
}
/* link */
.navbar-default .navbar-nav > li > a {
   /*  color: #fff; */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   /*  color: #fff;
    background-color: #4e93ce; */

}
.navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #4e93ce;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #4e93ce;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 /*    color: #fff;
    background-color: #4e93ce; */
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
 /*    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0; */
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  /*   border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0; */
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
   /*  border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0; */
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
         /* color: #f0f0f0;  */
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f0f0f0;
    }
}
