.tooltip {
    position: relative;
    display: inline-block;
   /*  border-bottom: 1px dotted black; */
    opacity: 1;
    z-index:100;
    cursor: default;
	cursor: pointer;
	color: rgb(70,60,60);
	margin-top:10px;
}
.tooltip .tooltiptext{
	font-size:10px;
}
.tooltip-top .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    white-space: normal;
}

.tooltip-top .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip-top.question-tip .tooltiptext {
	width:70px;	
	margin-left: -38px;
}

.tooltip-bottom .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* padding: 5px 0; */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px;
    white-space: normal;
    padding:10px 5px;
}

.tooltip-bottom .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip-bottom.question-tip .tooltiptext {
	width:70px;	
	margin-left: -38px;
	 padding: 5px 0;
}

.tooltip-right .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip-right .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -25%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


.tooltip-left .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 110%;
    text-align:left;
    padding:5px 10px;
    white-space: normal;
}

.tooltip-left .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    text-align:left;
}
.tooltip-left.tooltip-private .tooltiptext::after {
	margin-top: -5px !important; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip[disabled=true] {
    pointer-events: none; 
    cursor: not-allowed;
}

a.notactive {
 pointer-events: none;
 cursor: not-allowed;
 color: darkgrey;
}